*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

h1{
    padding-top: 15px;
    font-size: 25px;
}
li{
    margin-bottom: 5px;
}

.pippo{
    max-width: 100%;
    background-color: aquamarine;
    height: 60px;
}

ul{
    line-height: 1.8;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.padding{
    padding-top: 20px;
}

.tag {
    margin-left: 10px;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 0.8em;
    color: white;
  }
  
  .completed {
    background-color: green;
  }
  
  .in_progress {
    background-color: rgb(255, 211, 129);
  }
  
  .backlog {
    background-color: red;
  }